<%= @art %>

<h1>Choose a number from 1 to 12 and see a new piece of art</h1>

<form action="/display_random_art">
  <label for="random_num">Type Number Here:</label>
  <input type="text" id="random_num" name="random_num">

  <button>Submit!</button>
</form>
