<%= @art %>

<h1>Click Random to see a list of random art!</h1>

<form action="/display_random_art">
  <label for="random_num">Type Number Here:</label>
  <input type="text" id="random_num" name="random_num">

  <button>Submit!</button>
</form>
